
services:
  backend:
    image: ghcr.io/tum-ens/weburbs-backend:latest
    # Use this to build the image locally
    build: backend
    container_name: weburbs-backend
    environment:
      - SECRET_KEY=change_me
      - URBS=http://optimizer:5000/simulate
      - URBS_CALLBACK=http://backend:8000
      # Replace localhost by your domain, or add more domains, separated by comma
      - ORIGINS=http://localhost
      # Change this for production
      - HTTPS_ONLY=False
      # Insert API key for Renewable Ninjas
      - RN_KEY=$RN_KEY
      - SQL_ENGINE=django.db.backends.postgresql
      - SQL_DATABASE=urbs
      - SQL_USER=urbs
      - SQL_PASSWORD=urbs
      - SQL_HOST=db
      - SQL_PORT=5432
    depends_on:
      - db
    networks:
      - urbs
    # Use this to override the config
    # volumes:
    #  - ./yourfolder:/app/config

  frontend:
    image: ghcr.io/tum-ens/weburbs-frontend:latest
    # Use this to build the image locally
    build: frontend
    container_name: weburbs-frontend
    # environment:
      # Replace localhost by your domain if it differs from the backend url
      # - VUE_APP_API_URL=http://localhost:9000
    networks:
      - urbs

  db:
    image: postgres:17
    container_name: weburbs-db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=urbs
      - POSTGRES_PASSWORD=urbs
      - POSTGRES_DB=urbs
    networks:
      - urbs

  reverse-proxy:
    image: nginx:alpine
    container_name: weburbs-proxy
    ports:
      - "80:9000"
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - urbs

  optimizer:
    image: ghcr.io/tum-ens/urbs-weburbs:latest
#    image: ghcr.io/tum-ens/urbs-weburbs-gurobi:latest
    container_name: optimizer
#    volumes:
#      - ~/gurobi.lic:/opt/gurobi/gurobi.lic:ro
    networks:
      - urbs

volumes:
  postgres_data:
networks:
  urbs:
    driver: bridge
